body {
    background-color: #46535e;
    background-image: url("./images/pizzanic.jpg");
    background-size: cover;
    background-blend-mode: overlay;
    object-fit: cover;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    place-content: center;  
    line-height: 1.6;    
}

/* layout */

.content {
    background-color: #fbfbfb;
    border: .5px goldenrod solid;
    box-shadow: 3px 3px 5px rgba(255, 158, 48, 0.3);    
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 200px;
}


/* typography */

h1, h2, p {
    font-family: 'Roboto', sans-serif;
    color: #444444;
    text-align: center;
}

h1 {
    margin-bottom: 0;
    text-align: center;
}

h2 {
    margin-bottom: 0;
    font-size: 1.3rem
}

p {
    font-size: 1.2rem;
    margin: .5em auto;
}

.balenina { 
    font-size: 5rem;
    margin-bottom: 0;
    margin-top: 0;
}

/* form */

form {
    padding: 1em;
    min-width: 300px;
    text-align: center;
}

form > * {
    padding: .5em 0;
    margin: 1em;
}

input {
    min-width: 7em;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    margin: 0;
}

/* buttons */

.btns {
    min-width: 150px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    border: none;
    background-color: orange;
    display: inline-block;
    padding: 15px 45px;
    text-align: center;
    text-decoration: none;
    color: #fbfbfb;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 700;
    transition: transform 250ms;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(247, 189, 83);
    transform: scale(1.05);
}

.recipe {
    margin: 2em;
    padding: 30px 15px;
    min-width: 10em;
    background-color: sienna;
    line-height: 1.6;
}

.recipe:hover {
    background-color: rgb(204, 103, 57);
    transform: scale(1.05);
}

#submit {
    margin: 1em 0;
}

.form-container,
.output {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
}

.output {
    margin-bottom: 2em;
}

/* idea scrapped, maybe revisit later
@media (min-width: 800px) {
    .flex-container, 
    .inputArea {
        flex-direction: row;
    }

    .inputArea {
        min-height: 350px;
    }

    .btns {
        flex-direction: column;
    }

}*/
